{% extends 'meetups/base/base.html' %}

{% load static %}
{% block title %}You registered successfully{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css' %}" >
{%  endblock %}

{% block main_heading %}Thanks for signing up{% endblock %}


{% block body %}
<section>
    <h2>You registered successfully</h2>
    <p>Thanks for signing up - see you at the meetup!</p>
</section>
<section>

</section>
{% if meetup_found %}
{% endif %}
{%  endblock %}